* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: 0;
}

.app {
  background-color: #bbbbbb;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
  font-family: "Arial";
}

.wrapper {
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin: 40px 0;
  width: 40%;
  padding: 40px;
  border-radius: 24px;

  font-size: 18px;
}

hr.solid {
  border-top: 2px solid #bbb;
  margin-bottom: 10px;
}

li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

.info-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.map {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 46%;
}

.map-img {
  border-radius: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 46%;
  background-color: #bbbbbb;
  border-radius: 10px;
}

.search {
  display: inline-flex;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}

.search-button {
  display: inline-flex;
  border: 1px solid black;
  border-radius: 10px;
  padding: 12px;
  background-color: #fff;
  margin-left: 10px;
}

.search-button:hover {
  background-color: #bbb;
  cursor: pointer;
}

.search-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  order: -1;
}

.search-field {
  width: 300px;
  border: 0;
}

.search-field:focus {
  outline: none;
}

.history-list-el {
  margin: 2px 0;
}

.history-list-el:hover {
  cursor: pointer;
  font-weight: bold;
}

.history-wrapper {
  width: inherit;
}

.main-wrapper {
  margin-right: 20px;
}

.city-name {
  font-weight: bold;
  margin-top: 4px;
}
