.wrapper {
  display: flex;
  justify-content: space-between;
  width: 30%;
  height: 768px;
  margin: 0 auto;
  padding: 40px;
  border: 2px dashed #bbb;
  border-radius: 24px;
  font-family: Comic Sans MS;
  font-size: 18px;
}

hr.solid {
  border-top: 2px solid #bbb;
}

li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

.info-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.map {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed #bbb;
  height: 100px;
  width: 46%;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed #bbb;
  height: 100px;
  width: 46%;
}

.search {
  display: inline-flex;
  border: 1px solid black;
  padding: 10px;
}

.search-button {
  display: inline-flex;
  border: 1px solid black;
  padding: 12px;
  background-color: #fff;
  margin-left: 10px;
}

.search-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  order: -1;
}

.search-field {
  width: 300px;
  border: 0;
}

.search-field:focus {
  outline: none;
}
